html {
    background: rgb(206, 204, 204);
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Rubik', sans-serif;
}

hl {
    background: rgb(218, 204, 10);
    color: rgb(94, 153, 76);
}

body {
    background-image: url("https://images.rawpixel.com/image_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk5Ni0wMDlfMS1rcm9pcjRkay5qcGc.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat; 
}

img {
    border-radius: 20px;
}

form {
    border: 1px solid white;
    width: 450px;
    padding: 35px;
    margin: 12px;
}

.form-label {
    @contact-name
}

#contact-name {}

.form-label {
    display: block;
    margin-top: 12px;
    font-size: 19px;
    font-weight: bold;
}

.form-input {
    width: 210px;
    height: 40px;
    font-size: 20px;
    padding: 3px;
}

input[type="submit"] {
    display: block;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 1rem;
    background: white;
    border: none;
}

table {
    position;
    relative;
    left 25%;
}

table th {
    border-bottom: 1px dotted black;
    border-top: 1px dotted black;
}

table td {
    border: 1px solid black;
    background: lightgray;
}

table td:nth-child(odd) {
    background: whitesmoke;
}
